.main-est {
  height: 562px;
  overflow: scroll;
  overflow-x: hidden; }
  .main-est .col__est-desc {
    font-family: 'Recursive', sans-serif;
    background-color: #e7e0cc;
    text-align: center;
    align-items: center;
    padding: 10px; }
  .main-est img {
    height: 100%;
    width: auto; }
  .main-est .reglaH {
    border-bottom: 5px solid black; }
  .main-est .reglaV {
    border-right: 5px solid black; }
