/* RESET */
* {
	margin:0;
	padding:0;
	color:inherit;
	text-decoration:none;
	list-style: none;
	box-sizing: border-box;
}
html {
    font-size: 16px;
}
::-webkit-scrollbar {
    display:none;
}
body {
	position:relative;
    width:auto;
    overflow-x:hidden;
}
/* ESTRUCTURA GRAL */
header {
    grid-area: header;
}
.claro{
    height:20vh;
    width:62vw;
    background:#016D9C;
    border-radius:0 0 360px 360px;
    margin-right: 19vw;
    margin-left:19vw;
    border: 5px solid black;
    border-top: none;
    display:flex;
    flex-flow: column nowrap;
    align-items:center;
    justify-content:space-evenly;
}
.hD {
    height:45%;
    width:auto;
    display:flex;
    align-items:center;
    justify-content:center;
}
.oscuro{
    height:20vh;
    width:100vw;
    background:#002B44;
    border-bottom: 5px solid black;
    display:flex;
    align-items:center;
    justify-content:center;
}
.logo{
    font-family: 'IBM Plex Serif', serif;
    color:#e7e0cc;
    letter-spacing:2px;
    text-shadow:
    0 0 1.5px #000,
    -1.5px -1.5px 0 #000,  
    1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;
    text-decoration:none;
    margin-top:8px;
}
.logo:hover{
    color:#e7e0cc;
}
.navConfig {
    flex-direction:row;
    width:31vw;
    justify-content:space-evenly;
    margin: 0;
    padding:0;
}
.navItem {
    list-style: none;
    text-decoration:none;
    color:#e7e0cc !important;
    font-family: 'Recursive', sans-serif;
    font-weight: 300;
}
.bckg {
    background-color:#002b44;
    border: 2px solid black;
    border-radius: 15px;
}
.dropdown-item:hover {
    background-color: #016D9C;
}
footer{
    width:100vw;
    border-top: 2.5px solid black;
    height:20vh;
    background-color:#002B44;
    display:flex;
    flex-direction:column;
}
main{
    width:100vw;
    background:#e7e0cc;
    height:60vh;
    overflow-y:scroll;
}
/*FOOTER GRAL*/
.socialCont{
    height:50%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
footer p{
    height:50%;
    font-size:2vh;
    color: #e7e0cc;
    text-align:center;
    font-family: 'Recursive', sans-serif;
}
/*INDEX*/
.indexGrid {
    display:grid;
    grid-template-rows: 80vh 100vh;
    grid-template-areas: "index"
                        "footer";
}
#index {
    background-image: url(../media/fondo1.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column; 
    grid-area: index;
    height:80vh;
    border-bottom:2.5px solid black;
    overflow-y:auto;
}
#heroSlogan {
    height:50%;
    width:100vw;
    display: flex;
    justify-content:center;
}
@keyframes slogan{
    0% {opacity: 0%;}
    25% {opacity: 25%}
    50% {opacity: 50%}
    75% {opacity: 75%}
    100% {opacity: 100%}
}
@keyframes buttons{
    0% {opacity: 0%;}
    25% {opacity: 25%}
    50% {opacity: 50%}
    75% {opacity: 75%}
    100% {opacity: 100%}
}
.slogan {
    color:#c7839c;
    font-family: 'IBM Plex Serif', serif;
    letter-spacing: 0.2vw;
    text-shadow:
    0 0 1.5px #000,
    -1.5px -1.5px 0 #000,  
    1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;
    animation: slogan;
    animation-duration: 1s;
}
#heroButtons {
    height:50%;
    width:60vw;
    margin-left:20vw;
    margin-right: 20vw;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    animation: buttons;
    animation-duration:3s;
}
.button {
    display:flex;
    justify-content:center;
    align-items: center;
    background-color:#002b44;
    border: 3px solid black;
    border-radius: 180px;
    transition: background-color .75s;
    color: #e7e0cc;
    font-family: 'Recursive', sans-serif;
    text-decoration:none;
}
.button:hover {
    background-color:#c7839c;
    transition: background-color .5s;
    color: black;
    border: 3px solid white;
}
.indxFooter{
    height:100vh;
    grid-area: footer;
    display:grid;
    grid-template-rows: 45% 55%;
    grid-template-areas: "foot"
                        "footImg";
}
.footIndex {
    grid-area:foot;
    background:#002b44;
    border-bottom: 5px solid black;
}
.footIndex p {
    color:#e7e0cc;
    font-family: 'Recursive', sans-serif;
}
.backgroundIndex {
    background-image: url(../media/footer.jpg);
    grid-area: footImg;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content:center;
    align-items:center;
}
/* Contacto*/
form{
    padding-top:1vh;
    width:30vw;
    margin-left:35vw;
    margin-right: 35vw;
    display:flex;
    flex-flow: column nowrap;
    justify-content:space-around;
}
.formCont{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    color:black;
    font-family: 'Recursive', sans-serif;
}
input, select, .formCont, label {
    margin-bottom:1vh;
}
.newsLabel{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.formButtons{
    display:flex;
    align-items:center;
}
.formButton {
    width:20vw;
    max-width:500px;
    min-width:130px;
}
/*servicios*/
.intro, .ai, .ac{
    text-align: center;
    color:#002b44;
}
.intro {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:600;
    margin-bottom:4vh;
    margin-left:3vw;
    margin-right:3vw;
}
.intro h2{
    font-weight:900;
    margin-bottom:3vh;
}
.ai, .ac {
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom:4vh;
    margin-left:8vw;
    margin-right:8vw;
}
.ai p, .ac p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:600;
}
.ai h3, .ac h3 {
    font-weight:800;
}
.regla{
    height:1.5vh;
    border:2px solid black;
    border-top:none;
    border-radius:100px;
}
.large{
    border-left:none;
    border-right:none;
    width:30vw;
    margin-left:35vw;
    margin-right:35vw;
}
.medium{
    width:15vw;
    margin-left:42.5vw;
    margin-right:42.5vw;
}
.short{
    width:7.5vw;
    margin-left:46.5vw;
    margin-right:46.5vw;
    margin-bottom:4vh;
}
/* ENCONTRANOS */
.map {
    position:absolute;
    display:flex;
    width:100vw;
    height:60vh;
    justify-content:center;
}
.bckgFu{
    position:absolute;
    z-index:2;
    width:400px;
    height:80px;
    background-color: gray;
    opacity:80%;
    border-radius:40px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.fu {
    color:black;
    z-index:2;
    text-align:center;
    font-size: 1.2rem;
    font-weight:bold;
}
.map iframe {
    position:absolute;
    top:0;
    z-index:1;
    width:100%;
    height:100%;
}
/*Media Queries gral*/
@media (max-width:576px){
    body {
        min-height:300px;
    }
    .navConfig {
        width:auto;
    }
    .navItem {
        font-size: 0.6rem;
        margin-left:4px;
        margin-right:4px;
    }
    .navItem:hover{
        font-size:0.7rem;
        color: #c7839c !important;    
    }
    .logo{
        font-size:1.9rem;
        margin-bottom:2px;
    }
    .claro {
        min-height:85px;
        padding-bottom:6px;
        min-width: 320px;
    }
    .oscuro {
        min-height:85px;
    }
    footer {
        min-height:90px;
    }
    .social2{
        height:40px;
        width:auto;
        margin-right:15px;
        margin-left:15px;
    }
    .socialCont{
    margin: 0 35vw 50px 35vw;
    }
    footer p {
        font-size:0.7rem;
        margin: 8px 20px 20px 20px;
    }
}
@media (min-width:576px) and (max-width:992px){
    .navConfig{
        width:auto;
    }
    .navItem {
        font-size:0.7rem;
        margin-left:4px;
        margin-right:4px;
    }
    .navItem:hover{
        font-size:0.8rem;
        color: #c7839c !important;
    }
    .logo{
        font-size:2rem;
    }
    .claro {
        min-height:100px;
        padding-bottom:8px;
        min-width:420px;
    }
    .oscuro {
        min-height:100px;
    }
    footer {
        min-height:120px;
    }
    .social2{
        height:60px;
        width:auto;
        margin-right:25px;
        margin-left:25px;
    }
    .socialCont{
    margin: 0 35vw 50px 35vw;
    }
    footer p {
        font-size:0.9rem;
        margin: 8px 20px 20px 20px;
    }
}
@media (min-width:992px){
    .navConfig{
        width:auto;
    }
    .navItem {
        font-size:0.9rem;
        
    }
    .navItem:hover{
        font-size:1rem;
        color: #c7839c !important;
    }
    .logo{
        font-size:3.2rem;
    }
    .claro {
        min-height:120px;
        padding-bottom:8px;
    }
    .oscuro {
        min-height:120px;
    }
    footer {
        min-height:160px;
    }
    body {
        min-height:100vh;
    }
    .social2{
        height:80px;
        width:auto;
        margin-left:20px;
        margin-right:20px;
    }
    .socialCont{
    margin: 0 35vw 50px 35vw;
    }
    footer p {
        font-size:1.2rem;
        margin: 10px 20px 20px 20px;
    }
}
/* Index Media-queries */
@media (max-width:576px){
    .slogan {
        text-align:center;
        font-size:2rem;
        margin-top:15vh;
    }
    .button {
        font-size:0.6rem;
        margin-left:30px;
        margin-right:30px;
        width:120px;
        height:40px;
    }
    .socInt{
        margin:0;
        font-size:0.8rem;
        letter-spacing: 2px;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .social{
        height: 70px;
        width:auto;
        margin-left:20px;
        margin-right:20px;
    }
    .indxFooter{
        min-height:400px;
    }
    #heroButtons{
        padding-bottom:15vh;
    }
}
@media (min-width:576px) and (max-width:992px){
    .slogan {
        font-size:2.4rem;
        margin-top:15vh;
    }
    .button {
        font-size:0.7rem;
        margin-left:20px;
        margin-right:20px;
        width:85px;
        height:42.5px;
    }
    .socInt{
        margin:0;
        font-size:1.6rem;
        letter-spacing: 2px;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .social{
        height: 100px;
        width:auto;
        margin-left:35px;
        margin-right:35px;
    }
    .indxFooter{
        min-height:400px;
    }
    #heroButtons{
        padding-bottom:15vh;
    }
}
@media (min-width:992px) {
    .slogan {
        font-size:2.8rem;
        margin-top:15vh;
    }
    .button {
        font-size:0.9rem;
        margin-left:40px;
        margin-right:40px;
        width:150px;
        height:50px;
    }
    .socInt{
        margin:0;
        font-size:2.5rem;
        letter-spacing: 2px;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .social{
        height: 150px;
        width:auto;
        margin-left: 80px;
        margin-right:80px;
    }
    .indxFooter{
        min-height:400px;
    }
    #heroButtons{
        padding-bottom:15vh;
    }
}
/*Servicios media queries*/
@media (max-width:576px){
    .intro {
        padding-top:1.5vh;
        font-size:0.7rem;
    }
    .intro h2{
        font-size:0.8rem;
    }
    .ai, .ac {
        font-size:0.6rem;
    }
    .ai h3, .ac h3 {
        font-size:0.9rem;
    }
}
@media (min-width:576px) and (max-width:992px){
    .intro {
        padding-top:1.5vh;
        font-size:0.8rem;
    }
    .intro h2{
        font-size:1rem;
    }
    .ai, .ac {
        font-size:0.7rem;
    }
    .ai h3, .ac h3 {
        font-size:0.9rem;
    }
}
@media (min-width:992px){
    .intro {
        padding-top:1.5vh;
        font-size:1.2rem;
    }
    .intro h2{
        font-size:1.5rem;
    }
    .ai, .ac {
        font-size:1rem;
    }
    .ai h3, .ac h3 {
        font-size:1.2rem;
    }
}  
/*Econtranos Media queries*/
@media (max-width:576px){
    .fu{
        font-size: 0.8rem;
    }
    .bckgFu{
        width:300px;
        height:40px;
        margin-top:2vh;
    }
}
@media (min-width:576px) and (max-width:992px) {
    .fu{
        font-size: 1rem;
    }
    .bckgFu{
        width:340px;
        height:50px;
        margin-top:2vh;
    }
}
@media (min-width:992px) {
    .fu{
        font-size: 1.1rem;
    }
    .bckgFu{
        width:360px;
        height:60px;
        margin-top:2vh;
    }
}
/*Contacto Media queries*/
@media (max-width:576px){
    label, select, input, .formbutton{
        font-size:0.8rem;
    }
}
@media (min-width:576px) and (max-width:992px){
    label, select,input,.formbutton{
        font-size:0.9rem;
    }
}