$bg: #e7e0cc;
$h: 562px;
$p: 10px;

.main-est {
    height:$h;
    overflow:scroll;
    overflow-x:hidden;
        .col__est-desc {
            font-family: 'Recursive', sans-serif;
            background-color: $bg;
            text-align: center;
            align-items:center;
            padding:$p;
        }
    img {
        height:100%;
        width:auto;
    }
    
    .reglaH {
        border-bottom: 5px solid black;
    }
    .reglaV {
        border-right: 5px solid black;
    }
}