$bg: #e7e0cc;
$p: 10px;

::-webkit-scrollbar {
    display:none;
}
.main-est {
    height:60vh;
    overflow:scroll;
    overflow-x:auto;
        .col__est-desc {
            font-size:1vw;
            font-family: 'Recursive', sans-serif;
            background-color: $bg;
            text-align: center;
            align-items:center;
            padding:$p;
        }
    
    .reglaH {
        border-bottom: 5px solid black;
    }
    .reglaV {
        border-right: 5px solid black;
    }
}

img {
    height: 59.5vh;
    width: 100%;
}